:root{
    --primary-color: #de3b30;
    --neutral-shade: #5C6156;
    --neutral-white: #EAECEC;
    --font-color-white: #F5F5F5;
    --font-color: #29282A;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(92,97,86,1) 0%, rgba(234,236,236,1) 60%) !important;
}

* {
    box-sizing: border-box;
}

*::after, *::before{
    font-family: inherit;
}

.wall{
    background-color: #EAECEC;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 !important;
    margin: 0;
}

@media (min-width: 1450px){
    .wall{
        margin-inline: 10%;
    }
}

/* POP UP FORM */
.pop-up{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

.pop-up__title{
    margin-block: 30px;
    font-weight: 500;
    margin-top: 20px;
}

.pop-up__text{
    margin-top: -10px;
    font-style: italic;
}

.highlighted--red{
    color: var(--primary-color);
}

.container-input{
    position: relative;
    padding: 10px;
    margin-block: 10px;
}

.styled-label{
    height: 45px;
    width: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 10px;
    border: 2px solid var(--neutral-shade);
    border-radius: 5px;
}

.styled-input{
    height: 47px;
    width: 300px;
    position: absolute;
    top: 35px;
    left: 20px;
    border-style: none;
    border-radius: 5px;
    background-color: lightgrey;
    transition: 0.5s;
    padding-left: 5%;
}

.styled-input::placeholder{
    color: #858585;
}

input:valid{
    background-color: lightgreen;
}

.question{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.question-label{
    background-color: black;
    font-weight: 500;
    color: var(--primary-color);
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.question-select{
    width: 310px;
    height: 47px;
    padding: 10px;
    border-style: none;
    border-radius: 5px;
    background-color: lightgrey;
    border: none;
}

.terms{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-inline: 20px;
}

.check-box{
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.check-box__description{
    font-size: 16px;
    font-weight: regular;
    text-align: left;
    margin-left: 5px;
}

.check-box__checkinput{
    padding: 10px;
}

input[type="checkbox"]{
    height: 20px;
    width: 20px;
}

.sm-info-tx{
    font-size: 12px;
    font-style: italic;
}

.ref--highlighted{
    text-decoration: none;
    font-weight: bold;
    color: var(--font-color);
}

.ref--highlighted:hover{
    color: var(--font-color);
    text-decoration: underline;
}

.form-button{
    margin-top: 20px;
    padding: 10px 60px;
    background-color: var(--primary-color);
    color: white;
    border-style: none;
    border-radius: 5px;
    font-size: 21px;
    margin-block: 20px;
}


/* HEADER */

.header{
    width: 100%;
    display: flex;
    flex-direction: row;

}

.header__left{
    background-image: url("../imgs/blob.svg");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position-x: -400px;
    background-position-y: -300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: #F5F5F5;
}

.header__title{
    margin-top: 30px;
    font-size: 60px;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
    font-weight: 700;
}


.header__price{
    margin: 20px;
}

.small--text{
    font-weight: 200;
    font-size: 25px;
}

.header__left__offer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-block: 20px;
    width: 400px;
}

.header__left__offer__description{
    font-size: 25px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    font-style: italic;
}

.button{
    padding: 15px 50px;
    border-radius: 3px;
    border-style: none;
    color: #DC0028;
    font-size: 25px;
    font-weight: bold;
    margin-block: 30px;
    background-color: white;
    box-shadow: red 10px 8px 0px -3px, black 10px 8px;
    transition: 0.2s;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    transform: scale(1);
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
      transform: scale(0.9);
      box-shadow: red 3px 1px 0px -3px, black 3px 2px;
    }
    
    70% {
      transform: scale(1);
      box-shadow: red 10px 8px 0px -3px, black 10px 8px;
    }
    
    100% {
      transform: scale(0.90);
      box-shadow: red 3px 1px 0px -3px, black 3px 2px;
    }
  }

.button-arrows{
    height: 25px;
    width: 25px;
}

.button:hover{
    box-shadow: black 3px 3px;
    transition: 0.5s;
}

.header__right{
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    background-image: url("../imgs/hero-ilustration.svg");
    background-repeat: no-repeat;
    background-position: bottom;
}

.header__right__logo{
    height: 110px;
    width: 220px;
    margin-top: 20px;
}

.hero-ilustration-mobile{
    display: none;
    background-image: url("../imgs/hero-ilustration.svg");
    height: 300px;
    width: 100%;
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 576px){
    .header{
        flex-direction: column-reverse;
    }
    .header__left{
        background-position: center;
        background-size: 900px ;
        align-items: center;
        padding-inline: 20px;
        padding-bottom: 10px;
    }

    .header__title{
        margin-inline: 10px;
        font-size: 44px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .header__right{
        background-image: none;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .reversed{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .header__left__price{
        margin-inline: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header__left__offer__description{
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        padding: 5px;
    }

    .header__left__offer{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: auto;
    }

    .button{
        padding: 15px 10px;
        white-space: nowrap;
    }

    .hero-ilustration-mobile{
        display: block;
    }
    
}

@media (min-width: 576px) and (max-width: 1400px){
    .header{
        flex-direction: column-reverse;
    }
    .header__left{
        background-position: center;
        background-size: 900px ;
        align-items: center;
        padding-inline: 20px;
        padding-bottom: 10px;
    }

    .header__title{
        margin-inline: 10px;
        font-size: 40px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .header__right{
        background-image: none;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .reversed{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .header__left__price{
        margin-inline: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header__left__offer__description{
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        border: 1px solid rgba(128, 128, 128, 0.15);
        padding: 5px;
    }

    .hero-ilustration-mobile{
        display: block;
    }
}

/* SECTION */

.advantages-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.advantages-section__title{
    margin-top: 50px;
    color: #29282A;
}

.advantages-section__description{
    margin: 30px;
    padding-inline: 7%;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    color: #29282A;
}

.advantages-section__cards{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-block: 50px;
    padding-left: 20%;
    background-image: url("../imgs/advantages-ilustration.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30rem;
}

.advantages-section__cards__align{
    display: flex;
    align-items: row;
}

.advantages-section__cards__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 250px;
    padding: 20px 10px;
    margin: 10px 5px;
    border-radius: 10px;
    margin-block: 10px; 
    text-align: center;
    border: 2px solid #858c7d2d;
}

.advantages-section__cards__card:hover{
    cursor: pointer;
    background-color: whitesmoke;
}

.advantages-section__cards__card__title{
    color: #5C6156;
    margin-top: 10px;
}

.advantages-section__cards__card > img{
    height: 50px;
    width: 50px;
}

.re-offer{
    font-weight: 200;
    text-align: center;
    margin-inline: 5%;
}

@media (max-width: 576px) {
    .advantages-section__title{
        font-size: 50px;
        text-align: center;
        margin-inline: 20px ;
    }

    .advantages-section__cards{
        padding-left: 0;
        padding-inline: 40px;
    }

    .advantages-section__cards__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-block: 20px;
        min-height: 150px ;
    }

    .advantages-section__description{
        margin-block: 30px;
        font-size: 25px;
        text-align: center;
    }
}

/* FOOTER */
.footer{
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-block: 20px;
}

.footer__item{
    margin-inline:20px;
    font-weight: 300;
    text-decoration: none;
    color: white;
}

.footer__item:hover{
    cursor: pointer;
    color: white;
    text-decoration: underline;
}

@media (max-width: 576px) {
    .footer{
        flex-direction: column;
        align-items: center;
    }
}


